body {
    background: dodgerblue;
}

#cat-burger {
    display: block;
    margin: auto
}

h1,h2 {
    text-align: center
}

.card {
    margin: auto;
}

.btn {
    margin: auto;
}

#create-form {
    margin: auto;
    display: block
}